<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %} | Shop</title>
</head>
<body>
    <header class="bg-emerald-600 px-12 py-6">
        <div class="flex justify-between">
            <div class="flex justify-between space-x-20">
                <a href="/" class="text-3xl font-bold text-white">Shop</a>
                <form method="get" action="{% url 'item:search' %}">
                    {% csrf_token %}
                    <input name='query'  type='text' placeholder="Search" class="px-6 py-2 rounded" value={{query}}>
                    <button class="bg-white px-4 py-2 rounded">Search</button>
                </form>
            </div>
            <div>
                <a href="{% url 'cart:cart' %}" class="text-white">
                    <svg class="w-8 h-8 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
</svg>

                </a>
            </div>
            <nav class="flex justify-between space-x-6">
                <a href="/" class="font-semibold text-xl text-white">Home</a>
                <a href="{% url 'item:items' %}" class="font-semibold text-xl text-white">Products</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'item:newItem' %}" class="font-semibold text-xl text-white">New item</a>
                <form method="post" action="{% url 'core:logout' %}">
                    {% csrf_token %}
                    <button class="font-semibold text-xl text-white">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'core:signup' %}" class="font-semibold text-xl text-white">Sign up</a>
                <a href="{% url 'core:login' %}" class="font-semibold text-xl text-white">Login</a>
                {% endif %}
            </nav>
        </div>

    </header>
    {% block content %}
    {% endblock %}
    <footer class="flex justify-between bg-emerald-900 text-white px-24 py-6">
        <div class="text-3xl font-bold text-white">
            <a href="/">Shop</a>
        </div>
        <ul>
            <a href="#" class="text-lg"><li>About</li></a>
            <a href="#" class="text-lg"><li>Terms and Conditions</li></a>
            <a href="#" class="text-lg"><li>Privacy Policy</li></a>
        </ul>
        <ul>
            <a class="text-lg"><li>phone</li></a>
            <a class="text-lg"><li>email</li></a>
        </ul>
    </footer>
</body>
</html>